﻿@model DivisibleNumber.ViewModel.DivisibleViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <form method="post" class="form-inline">
        <br />
        <br />
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" placeholder="Enter a number from 1-1000" name="InputNumber" id="inputNumber" autocomplete="off" />
        </div>
        <button type="submit" class="btn btn-primary mb-2" onclick="return validate()">Submit</button>
    </form>
    <br />
    <br />
    @if (Model.NumberLists.Count() > 0)
    {
        <h2>Input Number- @(Model.NumberLists.LastOrDefault().Number)</h2>
        <table class="table table-responsive table-bordered table">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Output</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var number in Model.NumberLists)
                {
                    <tr>
                        <td>@number.Number</td>
                        <td>@(string.IsNullOrEmpty(number.Value)?number.Number.ToString():number.Value)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@section scripts{
    <script src="~/Scripts/App/divisibleNumber.js"></script>
}